{% for post in posts %}
<article class="article the-font" style="box-shadow: rgb(167, 163, 163) 5px 5px 20px;">
    <!--<li class="post">-->
        <div class="post-content the-font">
            <div class="post-title">
                    <div class="post-inline">
                        <h2 style="color:#34495E"><b>{{ post.title }}</b></h2>
                    </div>
                    <div class="post-inline">
                        <div class="post-author post-inline">
                            <a href="{{ url_for('.user', username=post.author.username) }}">
                                {{ post.author.username }}
                            </a>
                        </div>
                        <div class="post-inline">
                            <a href="{{ url_for('.user', username=post.author.username) }}">
                                <img class="img-rounded" src="{{ post.author.gravatar(size=40) }}">
                            </a>
                        </div>
                    </div>
            </div>
            <div>
                <small>
                    <span class="glyphicon glyphicon-calendar" aria-hidden="true"></span>
                    <span style="color:#8C8C8C;">{{ moment(post.timestamp).format("MMMM Do YYYY, HH:mm:ss") }}</span>
                </small>
            </div>
            <div class="post-alert">The blog is based on the Creative Commons public licenses. You can share and adapt under the following terms: Attribution, NonCommercial and ShareAlike</div>
            <div class="post-body" >
                {% if post.body_html %}
                    {{ post.body_html | markdown}}
                    <!--{{ post.body_html | safe}}-->
                {% else %}
                    {{ post.body }}
                {% endif %}
            </div>
        </div>

        <div  style="border-top:1px solid #EBEBEB;">
                <div class="post-inline">
                    <h3>
                        <span class="label label-default">
                            <span class="glyphicon glyphicon-tags" aria-hidden="true"> </span>
                                {{ post.category.tag }}
                            </span>
                        </span>
                    </h3>
                </div>
                <div style="float:right;" class="post-inline">
                    {% if current_user == post.author %}
                    <a href="{{ url_for('.edit', id=post.id) }}" class="post-inline">
                        <h3>
                            <span class="label label-primary">Edit</span>
                        </h3>
                    </a>
                    <a href="{{ url_for('.delete', id=post.id) }}" class="post-inline">
                        <h3>
                            <span class="label label-danger">Delete</span>
                        </h3>
                    </a>
                    {% elif current_user.is_administrator() %}
                    <a href="{{ url_for('.edit', id=post.id) }}" class="post-inline">
                        <h3>
                            <span class="label label-danger">Edit [Admin]</span>
                        </h3>
                    </a>
                    {% endif %}
                </div>
        </div>
    <!--</li>-->
</article>
<!--ds comment-->
<article class="article the-font">
    <div class="ds-share flat" data-thread-key="{{ post.id }}" data-title="{{ post.title }}" data-images="{{ post.author.gravatar(size=120) }}" data-content="{{ post.summury }}" data-url="/post/{{ post.id }}">
        <div class="ds-share-inline">
            <ul  class="ds-share-icons-16">
                <li data-toggle="ds-share-icons-more"><a class="ds-more" href="javascript:void(0);">分享到：</a></li>
                <li><a class="ds-weibo" href="javascript:void(0);" data-service="weibo">微博</a></li>
                <li><a class="ds-qzone" href="javascript:void(0);" data-service="qzone">QQ空间</a></li>
                <li><a class="ds-qqt" href="javascript:void(0);" data-service="qqt">腾讯微博</a></li>
                <li><a class="ds-wechat" href="javascript:void(0);" data-service="wechat">微信</a></li>
            </ul>
            <div class="ds-share-icons-more">
            </div>
        </div>
    </div>
    <!-- 多说评论框 start -->
    <div class="ds-thread" data-thread-key="{{ post.id }}" data-title="{{ post.title }}" data-url="/post/{{ post.id }}"></div>
    <!-- 多说评论框 end -->
    <!-- 多说公共JS代码 start (一个网页只需插入一次) -->
    <script type="text/javascript">
    var duoshuoQuery = {short_name:"techblog"};
        (function() {
            var ds = document.createElement('script');
            ds.type = 'text/javascript';ds.async = true;
            ds.src = (document.location.protocol == 'https:' ? 'https:' : 'http:') + '//static.duoshuo.com/embed.js';
            ds.charset = 'UTF-8';
            (document.getElementsByTagName('head')[0]
             || document.getElementsByTagName('body')[0]).appendChild(ds);
        })();
    </script>
    <!-- 多说公共JS代码 end -->
</article>
{% endfor %}
